<div class="col-md-4">
  <div class="card">
    <div class="card-block">
      <div class="image">
        <img src="https://loremflickr.com/320/240/paris"/>
      </div>
      <div class="card-inner">
        <div class="header">
          <h3><%= t ".name_book" %>:
            <% if logged_in? && current_user.admin? %>
              <%= link_to book.name, book  %>
            <% else %>
              <%= link_to book.name, user_books_show_path(book)  %>
            <% end %>
          </h3>
          <h4><%= t ".author" %>: <%= book.author_name %></h4>
          <%= link_to t(".borrow_book"),
                      new_book_request_path(book),
                      class: "btn btn-primary m-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
