<% provide :title, t(".edit_profile") %>
<% provide :button_text, t(".save_changes") %>
<h1 class="text-center mt-4" ><%= t ".edit_profile" %></h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= form_with model: @book, class: "shadow p-3 mb-3 rounded", local: true do |f| %>
        <%= render partial: "shared/error_messages", object: @book.errors %>
        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: t(".name_placeholder") %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :detail, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_area :detail, rows: 10, class: "form-control shadow rounded", placeholder: t(".detail_placeholder") %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :number_of_page, class: "col-2 col-form-label " %>
          <div class="col-10">
            <%= f.number_field :number_of_page, value: @book.number_of_page, step: :any %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :author, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_field :author, id: :user_name, list: "list-name", value: @book.author_name %>
              <datalist id="list-name">
                <% Author.all.each do |author| %>
                  <option value="<%= author.name %>"></option>
                <% end %>
              </datalist>
          </div>
        </div>

        <div class="form-group row">
            <%= f.label :category_id, class: "col-2 col-form-label" %>
            <div class="col-10">
              <%= f.select :category_ids, options_for_select(
                  Category.pluck(:name, :id),
                  selected: @list_selected
                ),
              {},
              { class: "chosen-select", multiple: "true" } %>
            </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit t(".update_book"), class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to t(".back") , @book, class: "text-info" %>
    </div>
  </div>
</div>
<%= javascript_include_tag "application" %>
