<% provide :title, t(".list_book") %>
<h1 class="text-center"><%= t ".list_book" %></h1>

<% if @books.size == 0 %>
  <h2><%= t ".no_book" %></h2>
<% else %>
  <%= paginate @books %>
  <div class="container">
    <div class="row hidden-md-up">
      <%= render @books %>
    </div>
  </div>
  <%= paginate @books %>
<% end %>
