<% if @review.present? %>
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-comment">
          <h3 class="text-info"><%= t ".review" %>
            <%= reviewable.reviews.count %>
          </h3>
          <hr/>
        </div>
        <div class="card-body">
          <% if reviewable.reviews.size > 0 %>
            <% reviewable.reviews.each do |review| %>
              <% if review.user.present? %>
                <%= content_tag :div, class: 'divTableRow', id: dom_id(review) do %>
                  <div class="col-xl mb-3 border border-info">
                    <br/>
                    <div class="row">
                      <div class="col-auto mr-auto">
                        <h4><%= link_to review.user_name, review.user %></h4>
                      </div>
                      <div class="col-auto">
                        <% if current_user?(review.user) || admin_page? %>
                          <%= link_to t(".edit"), edit_book_review_path(review.book, review), class: "btn btn-outline-info", remote: true %>
                          <button type="button" class="btn btn-outline-danger">
                            <%= link_to t(".destroy"), [review.reviewable, review],
                                method: :delete,data: {confirm: t(".are_you_sure")} %>
                          </button>
                        <% end %>
                      </div>
                    </div>
                    <%= t ".at" %><%= review.created_at.strftime(Settings.time_format) %>
                    <p class="mb-3">
                      <%= t ".rating" %> <%= review.rate %> <%= t ".star" %>
                    </p>
                    <div class = "ohstar" id="star-rate-<%= review.id %>"
                      data-rate="<%= review.rate %>"></div>
                      <br/>
                      <%= review.detail %>
                    <hr/>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
