<% if @review.present? %>
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-comment">
          <h3 class="text-info"><%= t ".review" %>
            <%= reviewable.reviews.count %>
          </h3>
          <hr/>
        </div>
        <div class="card-body">
          <% if reviewable.reviews.size > 0 %>
            <% reviewable.reviews.each do |review| %>
              <% if review.user.present? %>
                <div class="col-xl mb-3 border border-info">
                  <h4><%= link_to review.user.name, review.user %></h4>
                  <%= review.created_at.strftime(Settings.time_format) %>
                  <p class="mb-3">
                    <%= t ".rating" %> <%= review.rate %> <%= t ".star" %>
                  </p>
                  <div class = "ohstar" id="star-rate-<%= review.id %>"
                    data-rate="<%= review.rate %>"></div>
                  <p><%= simple_format review.detail %></p>
                  <% if logged_in? && (current_user?(review.user) || current_user.admin?) %>
                    <button type="button" class="btn btn-outline-danger">
                      <%= link_to t(".destroy"), [reviewable, review], method: :delete,
                      data: {confirm: t(".are_you_sure")} %>
                    </button>
                  <% end %>
                  <hr/>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
