<div class="msb" id="msb">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <div class="brand-wrapper">
      <div class="brand-name-wrapper">
        <h1 class="navbar-brand">
          Library Admin
        </h1>
      </div>
      </div>
    </div>
    <div class="side-menu-container">
      <ul class="nav navbar-nav dropdown" id="menu">
        <li>
          <%= link_to admin_path, :class => "nav-link" do %>
            <i class="fa fa-dashboard"></i> <%= t ".home" %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-puzzle-piece"></i> <%= t ".categories" %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t(".view"), categories_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-book" aria-hidden="true"> </i> <%= t ".books" %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t(".view_books"), books_path, class: "dropdown-item" %>
            <%= link_to t(".create_books"), new_book_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to return_book_list_path, :class => "nav-link" do %>
            <i class="fa fa-backward"></i> <%= t ".return_book" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to home_path, :class => "nav-link" do %>
            <i class="fa fa-user" aria-hidden="true"></i> <%= t(".user_page") %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to logout_path, :class => "nav-link", method: :delete do %>
            <i class="fa fa-sign-out" aria-hidden="true"></i> <%= t(".logout") %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
